@import 'http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500';
body,html
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #e6e7e8 url(../images/page_bg.png) repeat-y 0 0;
    font: normal 13px/1.2 Verdana;
    color: #363534;
    background-color : rgb(242,242,242);
    overflow: auto;
    font-family: normal 13px/1.2 'OpenSans', sans-serif;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h1 {
}

h2 {
    color: rgb(100,130,130);
    margin-top: -25px;
}

h3 {
}

h4 {
    color: #333;
    margin-bottom: -10px;
}


ul, ol {
    margin-left: 0;
}

ul ul {
    margin-bottom: 20px;
}

#wrap {
    color: #404040;
    margin: 0 12%;
    margin: 20px 40px;
}

a {
    color: #4088b8;
    font-size: 90%;
    /*font-style: italic;*/
    text-decoration: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

table a
{
    font-style: normal;
    font-size: 100%;
}

table, pre
{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-collapse: separate;
    font-size: 11px;
    margin-bottom: 25px;
}

th
{
    padding: 5px 15px 5px 10px;
    background-color: #E1E1E1;
    border-left: 1px solid #E6E6E6;
}
td
{
    padding: 3px 15px 3px 10px;
}

tr.odd td:hover,  tr.even td:hover    {}

td.rightAlign
{
    padding: 3px 5px 3px 10px;
}

table tr.odd
{
    border-left: 1px solid #E6E6E6;
    background-color: #F6F6F6;
    color: #66666E;
}
table tr.even
{
    border-left: 1px solid #E6E6E6;
    background-color: #ffffff;
    color: #66666E;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}

.header, .footer, .wrapper
{
    min-width: 600px;
    max-width: 1500px;
    margin: 0 30px;
}
.header, .footer
{
    display: block;
    clear: both;
    overflow: hidden;
}

.header:after, .footer:after, .breadcrumb:after, .wrap .content:after, .group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper
{
    background: url(../images/bg_r.png) repeat-y 100% 0;
}

.wrapper .hd
{
    padding-left: 216px;
    height: 15px;
    background: url(../images/page.png) no-repeat 0 0;
    overflow: hidden;
}

.wrapper .hd span
{
    height: 15px;
    display: block;
    overflow: hidden;
    background: url(../images/page.png) no-repeat 100% -30px;
}
.wrapper .bd
{
    background: url(../images/bg_l.png) repeat-y 0 0;
    position: relative;
}

.wrapper .ft
{
    padding-left: 216px;
    height: 15px;
    background: url(../images/page.png) no-repeat 0 -75px;
    overflow: hidden;
}

.wrapper .ft span
{
    height: 15px;
    display: block;
    background: url(../images/page.png) no-repeat 100% -60px;
    overflow: hidden;
}

#main {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color:rgb(242,242,242);
}

section
{
    padding: 12px 24px;
    margin-right: 240px;
    font-family: 'Raleway', sans-serif;
    /*color: rgb(54, 53, 52);*/
    text-align: left;
    font-size: 100%;
    line-height: 1.6;
    background-color:rgb(250,250,250);
    border: 1px solid rgb(230,230,230);
    border-radius: 7px 7px 7px 7px
}

.variation {
    display: none;
}

.optional:after {
    content: "opt";
    font-size: 60%;
    color: #aaa;
    /*font-style: italic;*/
    font-weight: lighter;
}

nav
{
    display: block;
    float: left;
    margin-left: -230px;
    margin-top: 28px;
    width: 220px;
    border-left: 1px;
}

nav ul {
    font-family: 'Raleway', sans-serif;
    font-size: 95%;
    /*line-height: 17px;*/
    padding:0;
    margin:0;
    list-style-type:none;
}

nav h2 a, nav h2 a:visited {
    /*color: #5C5954;*/
    font-size: 95%;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

nav a {
    color: #5C5954;
    font-style: normal;
    font-size: 90%;
    font-weight: bold;
}

nav a:visited {
    /*color: #5C5954;*/
    font-style: normal;
    font-size: 90%;
    font-weight: bold;
}

nav a:active {
    color: #5C5954;
    font-style: normal;
    font-size: 100%;
}
.ui-accordion .ui-accordion-content {
    padding: 7px 2.2em;
}
.ui-accordion .ui-accordion-header a{
    font-size: 90%;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    /*font-style: italic;*/
    font-size: 90%;
}

h1
{
    font-size: 200%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 6px 0 9px 0;
}

h2
{
    font-size: 170%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
}

h3
{
    font-size: 150%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin-top: 16px;
    margin: 6px 0 3px 0;
}

h4
{
    font-size: 110%;
    letter-spacing: -0.01em;
    margin-top: 16px;
    margin: 18px 0 3px 0;
    color: #005E91;
}

h5, .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px -16px;
}

h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
/*font-style: italic;*/
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: 'Raleway', sans-serif;
}

.details { margin-top: 14px; }
.details dt { width:100px; float:left; border-left: 2px solid #DDD; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }

.description {
    margin-bottom: 1em;
    margin-left: -16px;
    margin-top: 1em;
}

.code-caption
{
    /*font-style: italic;*/
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 107%;
    margin: 0;
}

.sh_sourceCode
{
    border: 1px solid #ddd;
    width: 80%;
}

.sh_sourceCode code
{
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #000;
    border-left: 3px #ddd solid;
}

.params, .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    line-height: 1.3;
    border: 1px solid rgb(230,230,230);
    border-radius: 7px 7px 7px 7px
}

.params .name, .props .name, .name code {
    color: #2A7BA7;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

.params td, .params th, .props td, .props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    /*vertical-align: top;*/
    padding: 2px 4px;
    display: table-cell;
}

.params thead tr, .props thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th { border-right: 1px solid #aaa; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

.disabled {
    color: #454545;
} 

p.tag-note {
	background: #fff6bf center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	font-family: 'Raleway', sans-serif;
	/*font-style:italic;*/
	color: #363534;
	padding: 5px 5px 5px 25px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}


.ribbon {
    background-color: rgb(0,124,207);
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    right: 240px;
    top: 70px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
.ribbon a {
    border: 1px solid rgb(0,176,252);
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 5px #444;
}
