<?js var data = obj; ?>
<?js var self = this; ?>
<?js

    var params;
    if (data.params && data.params.length) {
    params = data.params;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        if ( parentParam && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);
            parentParam.subparams = parentParam.subparams || [];
            parentParam.subparams.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
    }
?>
<?js var ret = "";
     if (data["returns"] != undefined &&
         data["returns"][0]["type"] != undefined) {
         ret = data.returns[0].type.names;
     }

     var sparam = [];
     if (params && params.length) {
         params.forEach(function(param) {
             if (!param) { return; }
             var nm;
             if (param.type != undefined)
                  nm = param.name+":"+param.type.names.join("|");
             else{
                 nm = param.name;
             }

             if (param.defaultvalue != undefined)
                 nm += " = "+ param.defaultvalue;

             if (param.optional) {
                 nm = "["+nm+"]";
             }

             if (param.type && param.type.variable) {
                 sparam.push(nm + " ,...");
             }
             else sparam.push(nm);

         });
     }
?>
<?js var red = false;
     if (data.tags && data.tags.length != 0)
         data.tags.forEach(function(tag) {
            if (tag.title == "red")
                red = true;
        });
?>

<dt>
    <h4 class="name" id="<?js= id ?>">
    <font  style="color:gray;font-size:90%; font-style:italic;">
    <?js= ret?>
    </font></br>
    <?js if (red) {
            print('<font style="color:#8E2323;">'+name); }
         else ?>
    <?js= data.attribs + (kind == 'class'? 'new ':'') + name?>

    <?js if (red) print('</font>'); ?>

    <font color="gray" style="font-style:italic;">
    (
    <?js= sparam.join(", ")  ?>
    )
    </font>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>

    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js if (data['this']) { ?>
        <h6>This:</h6>
        <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
    <?js } ?>

    <?js if (data.params && params.length) { ?>
        <h6>Parameters:</h6>
        <?js= this.partial('params.tmpl', params) ?>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.fires && fires.length) { ?>
    <h6>Fires:</h6>
    <ul><?js fires.forEach(function(f) { ?>
        <?js= self.partial('fires.tmpl', self.linkto(f) ) ?>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.exceptions && exceptions.length) { ?>
    <h6>Throws:</h6>
    <?js if (exceptions.length > 1) { ?><ul><?js
        exceptions.forEach(function(r) { ?>
            <li><?js= self.partial('exceptions.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        exceptions.forEach(function(r) { ?>
            <?js= self.partial('exceptions.tmpl', r) ?>
        <?js });
    } } ?>

    <?js if (data.returns && returns.length) { ?>
    <h6>Returns:</h6>
    <?js if (returns.length > 1) { ?><ul><?js
        returns.forEach(function(r) { ?>
            <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        returns.forEach(function(r) { ?>
            <?js= self.partial('returns.tmpl', r) ?>
        <?js });
    } } ?>

    <?js if (data.examples && examples.length) { ?>
        <h6>Example<?js= examples.length > 1? 's':'' ?></h6>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
